*#
*.log
*.plt
*~
.#*
.*DS_Store
.DS_Store
.cache
.erlang.mk
.erlang.mk.*
.eunit
.fuse_hidden*
/*.d
/beam-docker-release-action
/makefile.bak
/repos
_image
_rel
cover
db
deps
ebin
elvis
elvis.config
erl_crash.dump
logs
node_modules
package-lock.json
package.json
relx
test/*.beam
xrefr
