%% -*- mode: erlang -*-
%% Copyright (c) 2023 Peter Morgan <peter.james.morgan@gmail.com>
%%
%% Licensed under the Apache License, Version 2.0 (the "License");
%% you may not use this file except in compliance with the License.
%% You may obtain a copy of the License at
%%
%% http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing, software
%% distributed under the License is distributed on an "AS IS" BASIS,
%% WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%% See the License for the specific language governing permissions and
%% limitations under the License.

[{kernel, [{logger_level, notice},
           {logger,
            [{module_level,
              debug,
              [shrugs_config,
               shrugs_key_store,
               shrugs_cli]},

             {module_level,
              notice,
              [supervisor_bridge,
               supervisor]},

             {module_level, emergency, [application_controller]},

             {handler,
              default,
              logger_std_h,
              #{formatter => {logger_formatter,
                              #{template => [[logger_formatter, header],
                                             {pid, [" ", pid, ""], ""},
                                             {mfa, [" ", mfa, ":", line], ""},
                                             "\n",
                                             msg,
                                             "\n"],
                                legacy_header => true,
                                single_line => false}}}}]}]},

 {erlexec, [{debug, 1},
            {verbose, true}]},

 {shrugs, [{sshd_port, 22022},

           %% uncomment to enable tracing for debugging:
           %%
           %% {git_trace, true},
           %% {key_store_trace, true},
           %% {ssh_daemon_trace, true},
           %% {users_trace, true},

           %% when no host key is available, in "system_dir": host
           %% keys will be generated with the following parameters:
           %%
           {generate_key_param, [{namedCurve, ed25519}]},

            %% [{namedCurve, ed25519},
            %%  {namedCurve, ed448},
            %%  {rsa, 4096, 65537}]},

           %% host keys are stored in this directory which should be
           %% protected from third party access, overriden by the
           %% "SHRUGS_SYSTEM_DIR" environment variable.
           {system_dir, "etc/ssh"},

           %% git repositories will be stored in this directory,
           %% overriden by the "SHRUGS_REPO_DIR" environment variable.
           {repo_dir, "repos"},

           %% public keys of users should be stored in this directory,
           %% overriden by the "SHRUGS_USER_DIR" environment variable.
           {user_dir, "users"},

           %% the git executable should be in this directory,
           %% overriden by the "SHRUGS_BIN_DIR" environment variable.
           {bin_dir, "/usr/bin"}]}].
